html {
  font-size: 10px;
}

body {
  background: #F3F5F7;
}

.container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin: 2rem;
}

.photobooth {
  border: 2px solid #E5E5E5;
  border-radius: .5rem;
  padding: .1rem;
  padding-bottom: 2rem;
  width: 60rem;
  background: #22294D;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.button > img {
  margin: 0 auto;
}

.button {
  width: 4rem;
  margin: 0 auto;
  border: 2px solid #E5E5E5;
  border-radius: 50rem;
  padding: 1rem;
  background: #fff;
}

.list {
  max-width: 72rem;
  display: flex;
  margin-top: 4rem;
}

.photo {
  display: flex;
  flex-direction: column;
}

.photo > img {
  border: 2px solid #E5E5E5;
  border-radius: .5rem;
  width: 20rem;
}
